.projectListSubtitle {
    font-weight: 800;
    margin: 10px 0 40px;
    padding: 0 5px;
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 75px 0 ;
}

.project {
    display: flex;
    justify-content: space-around;
    align-items: normal;
    flex-wrap: wrap-reverse;
    gap: 10px 0;
    padding: 5px;
}

.previewImg {
    & img {
        width: 540px;
        height: 360px;
        border-radius: 50px;
    }
}

.projectSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;

    & p {
        background: lightblue;
        padding: 5px 10px;
        border-radius: 25px;
        font-size: 20px;
    }
}

.projectInfo {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 0;
    font-weight: 800;
    text-align: center;
}

.projectTitle {
    font-weight: 800;
    font-size: 30px;    
}

.projectSubtitle {
    font-weight: 400;
    font-size: 20px;
}

.projectLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;

    & a {
        display: flex;
        align-items: center;
        
        & p {
            font-size: 20px;
        }
    }

    & img {
        width: 30px;
        height: 30px;
        margin-left: 2px;
    }
}

.unable {
    display: none;
}

@media(max-width: 580px) {
    .previewImg {
        & img {
            width: 100%;
            height: 100%;
        }
    }
}

@media(max-width: 390px) {
    .projectListSubtitle {
        font-size: 20px;
    }

    .projectTitle {
        font-size: 24px;
    }

    .projectSubtitle, 
    .projectSkills > p, 
    .projectLinks > a > p {
        font-size: 18px;
    }
}