.bio {
    margin-left: 20px;
}
$avatarWidth: 315px;
$avatarHeight: 336px;
.avatar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: $avatarWidth;
    height: $avatarHeight;
    margin: auto;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
    animation: morphing 7s infinite;
    overflow: hidden;

    & img {
        width: $avatarWidth;
        height: $avatarHeight;
        border-radius: 50px;
    }
}

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgb(0, 0, 0, 0.5);
    }
    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
        box-shadow: 15px 15px 50px rgb(0, 0, 0, 0.5);
    }
    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgb(0, 0, 0, 0.5);
    }
    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
        box-shadow: -10px -5px 50px rgb(0, 0, 0, 0.5);
    }
}

.name {
    font-weight: 700;
    font-size: 32px;
}

.bioAttribute {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
    & img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }

    & span {
        color: #876464;
    }
}