.modal {
    position: absolute;
    top: 25px;
    left: 0;
}

.modalContent {
    background: #fff5f5;
    
    & p {
        font-size: 20px;
        text-align: center;
        border-radius: 50px;
        border: 1px solid #000;
        margin-bottom: 5px;
        padding: 5px 10px;
    }
    
    & p:last-child {
        margin-bottom: 0;
    }
}