.techStack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px 30px;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 0 10px;
}

.techStackTitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.techStackIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;
    justify-content: center;

    & img {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 360px) {
    .techStack {
        margin-top: 30px;
    }
}