.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 880px;
}