.contacts {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.contactsTitle {
    padding: 5px;
}

.contactsItem {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 0 5px;
    
    & p, a {
        font-weight: 400;
        font-size: 20px;
    }
}

.contactsLinks {
    text-align: right;

    & a {
        text-decoration: underline;
    }
}

@media(max-width: 950px) {
    .contactsTitle {
        text-align: center;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 502px) {
    .contactsItem p,
    .contactsLinks a {
        font-size: 14px;
    }
}

@media(max-width: 350px) {
    .contactsItem,
    .contactsLinks {
        text-align: center;
    }

    .contactsItem {
        flex-direction: column;
        gap: 10px 0;
    }
}