.socialIcon {
    & img {
        width: 30px;
        height: 30px;
    }
}

.socialIconHorizontal {
    & a {
        margin-right: 10px;
    }

    & a:last-child {
        margin-right: 0;
    }
}

.socialIconVertical {
    display: flex;
    flex-direction: column;
}

